/* To enable dark theme: ln -s dark-theme.css theme.css */
#navigator-toolbox {
  --toolbox-bgcolor: #333;
  --toolbox-bgcolor-inactive: #333;
  --toolbox-textcolor: #eee;
  --toolbox-textcolor-inactive: #eee;
}
#urlbar {
  --toolbar-field-background-color: rgba(255, 255, 255, 0.95);
  --toolbar-field-color: #111;
}
