@import url(theme.css);

/* Hide titlebar and sidebar elements */
#tabs-newtab-button, /* new tabs button in sidebar */
#vertical-tabs-newtab-button, /* new tabs button in sidebar */
#nav-bar #vertical-spacer[removable="false"], /* forced spacer */
#pageAction-urlbar-_testpilot-containers, /* containers button */
#userContext-label, /* container label */
#star-button-box, /* bookmark star */
#reader-mode-button, /* reader mode button */
#identity-icon-label /* "Not Secure" label next to lock icon */
/**/ {
  display: none;
}

@media (-moz-platform: linux) {
  /* hide close window button */
  .titlebar-close {
    display: none;
  }
}

/* Make "Not Secure" button look like others */
box[pageproxystate="valid"]:is(.notSecure) > .identity-box-button {
  --urlbar-box-bgcolor: none;
}

/* tighten up the spacing of vertical tabs */
#tabbrowser-tabs[orient="vertical"] {
  --tab-label-line-height: 1;
  --tab-min-height: max(28px, calc(var(--tab-label-line-height) * 1em));
  --tab-block-margin: 0;

  &[expanded] {
    --tab-label-line-height: 2;
    --tab-inner-inline-margin: var(--space-xsmall);
    --tab-pinned-container-margin-inline-expanded: var(--space-xsmall);
    --tab-inline-padding: calc(
      var(--tab-collapsed-width) -
        /* ff 142 uses icon-size-default, ff 143 uses icon-size */
        var(--icon-size-default, var(--icon-size, 0)) * 2.8
    ) !important;
  }
}

/* hide tab close button when sidebar collapsed */
#tabbrowser-tabs:is([orient="vertical"]):not([expanded]) {
  & .tab-close-button {
    display: none !important;
  }
}
