package: tmux
priority: normal
maintainer: Will Norris <will@willnorris.com>
depends:
standards-version: 1
description: tmux configuration
 tmux configuration.
dirs:
 .zsh
 .zsh/completion
 bin
mkdirs:
 .zsh
 .zsh/completion
 bin

