package: tmux
priority: normal
maintainer: Will Norris <will@willnorris.com>
depends: 
standards-version: 1
description: tmux configuration
 tmux configuration.  
dirs:
 local
 local/bin
mkdirs:
 local
 local/bin

