[core]
  excludesfile = ~/.gitignore
  quotepath = false

[diff "vim"]
  command = vimdiff

[color]
  ui = auto

[init]
  #templatedir = ~/.git_template

[alias]
  ctags = !.git/hooks/ctags
  svn-diff = !git-svn-diff

[push]
  default = simple
