[core]
  excludesfile = ~/.gitignore
  quotepath = false

[alias]
  b = branch -v -v
  ctags = !.git/hooks/ctags
  hub = !hub
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(green)%d%Creset %s %C(yellow)(%cr) %C(blue)<%an>%Creset' --abbrev-commit
  s = status --short --branch
  svn-diff = !git-svn-diff
  x = !gitx

[color]
  ui = auto

[diff "vim"]
  command = vimdiff

[init]
  #templatedir = ~/.git_template

[log]
  decorate = short

[pull]
  rebase = true

[push]
  default = simple

[rerere]
  enabled = 1

