[submodule "vim/bundle/ack"]
	path = vim/pack/bundle/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/afterimage"]
	path = vim/pack/bundle/start/afterimage
	url = https://github.com/tpope/vim-afterimage.git
[submodule "vim/bundle/airline"]
	path = vim/pack/bundle/start/airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/commentary"]
	path = vim/pack/bundle/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/eunuch"]
	path = vim/pack/bundle/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/bundle/fugitive"]
	path = vim/pack/bundle/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/git"]
	path = vim/pack/bundle/start/git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundle/go"]
	path = vim/pack/bundle/start/go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/gundo"]
	path = vim/pack/bundle/start/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/indent-object"]
	path = vim/pack/bundle/start/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/bundle/localvimrc"]
	path = vim/pack/bundle/start/localvimrc
	url = https://github.com/vim-scripts/localvimrc.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/pack/bundle/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/pasta"]
	path = vim/pack/bundle/start/pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "vim/bundle/repeat"]
	path = vim/pack/bundle/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/sensible"]
	path = vim/pack/bundle/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/signature"]
	path = vim/pack/bundle/start/signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "vim/bundle/signify"]
	path = vim/pack/bundle/start/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/bundle/sleuth"]
	path = vim/pack/bundle/start/sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vim/bundle/solarized"]
	path = vim/pack/bundle/opt/solarized
	url = https://github.com/blueyed/vim-colors-solarized.git
[submodule "vim/bundle/statline"]
	path = vim/bundle/statline
	url = https://github.com/willnorris/vim-statline.git
[submodule "vim/bundle/surround"]
	path = vim/pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/syntastic"]
	path = vim/pack/bundle/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tagbar"]
	path = vim/pack/bundle/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/unimpaired"]
	path = vim/pack/bundle/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vinegar"]
	path = vim/pack/bundle/start/vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "zsh/bundle/zsh-syntax-highlighting"]
	path = zsh/bundle/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/bundle/airline-themes"]
	path = vim/pack/bundle/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/bundle/start/polyglot"]
	path = vim/pack/bundle/start/polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/pack/bundle/start/goldenview"]
	path = vim/pack/bundle/start/goldenview
	url = https://github.com/zhaocai/GoldenView.Vim
[submodule "vim/pack/bundle/start/gv"]
	path = vim/pack/bundle/start/gv
	url = https://github.com/junegunn/gv.vim
