[submodule "vim/.vim/bundle/pathogen"]
	path = vim/.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/markdown"]
	path = vim/.vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/.vim/bundle/git"]
	path = vim/.vim/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/.vim/bundle/repeat"]
	path = vim/.vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/bundle/surround"]
	path = vim/.vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/commentary"]
	path = vim/.vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/bundle/haml"]
	path = vim/.vim/bundle/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vim/.vim/bundle/fugitive"]
	path = vim/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/unimpaired"]
	path = vim/.vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/.vim/bundle/liquid"]
	path = vim/.vim/bundle/liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "vim/.vim/bundle/afterimage"]
	path = vim/.vim/bundle/afterimage
	url = https://github.com/tpope/vim-afterimage.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/.vim/bundle/pasta"]
	path = vim/.vim/bundle/pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "vim/.vim/bundle/protobuf"]
	path = vim/.vim/bundle/protobuf
	url = https://github.com/willnorris/vim-protobuf.git
[submodule "vim/.vim/bundle/localvimrc"]
	path = vim/.vim/bundle/localvimrc
	url = https://github.com/vim-scripts/localvimrc.git
[submodule "vim/.vim/bundle/ack"]
	path = vim/.vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/statline"]
	path = vim/.vim/bundle/statline
	url = https://github.com/millermedeiros/vim-statline.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/solarized"]
	path = vim/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/sleuth"]
	path = vim/.vim/bundle/sleuth
	url = git://github.com/tpope/vim-sleuth.git
[submodule "vim/.vim/bundle/indent-object"]
	path = vim/.vim/bundle/indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/.vim/bundle/gundo"]
	path = vim/.vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/.vim/bundle/snipmate"]
	path = vim/.vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/.vim/bundle/nerdtree-tabs"]
	path = vim/.vim/bundle/nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/.vim/bundle/ctrlp"]
	path = vim/.vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
