[Desktop Entry]
Type=Application
Name=Color Picker
Comment=System-wide color picker
Exec=archtoys
Icon=archtoys
Terminal=false
StartupWMClass=archtoys-bin
Categories=Graphics;Utility;
