# This is a minimal desktop entry for "Firefox" (capital F).
# Firefox sends dbus notifications with "desktop-entry=Firefox",
# however the default desktop entry is "firefox" (lowercase F),
# preventing the application icon from being included properly.
#
# Setting MOZ_DESKTOP_FILE_NAME=firefox also works to change
# the desktop-entry value sent in notifications:
# https://github.com/mozilla/gecko-dev/blob/6cc1c433ab190c209ac90b202ee06a0ef1f6245b/toolkit/system/gnome/nsAlertsIconListener.cpp#L188-L196
[Desktop Entry]
Name=Firefox
Icon=firefox
Type=Application
