package: zsh
priority: normal
maintainer: Will Norris <will@willnorris.com>
depends:
 shell
standards-version: 1
description: Basic zsh configuration
 Basic zsh configuration.
dirs:
 .zsh
 .zsh/bundle
 .zsh/functions
 .zsh/host
 .zsh/network
 .zsh/os
mkdirs:
 .zsh
 .zsh/functions
 .zsh/host
 .zsh/network
 .zsh/os

