* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(30, 31, 36, 0);
  color: #ffffff;
}

button {
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  padding: 0 5px;
  color: #ffffff;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #e06c75;
}

#workspaces button.visible {
  border-bottom: 3px solid #ffffff;
}

.module {
  padding: 0px 8px;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
  padding-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
  padding-right: 0;
}

#battery {
  color: #999999;
}

#battery.charging,
#battery.plugged {
  color: #98c379;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  color: #e06c75;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  color: #98c379;
}

#memory {
  color: #c678dd;
}

#disk {
  background-color: #964b00;
}

#backlight {
  color: #90b1b1;
}

#network {
  background-color: #61afef;
}

#network.disconnected {
  background-color: #e06c75;
}

#pulseaudio {
  color: #e5c07b;
}

#pulseaudio.muted {
  background-color: #5c6370;
  color: #ffffff;
}

#temperature {
  color: #56b6c2;
  opacity: 0.8;
}

#temperature.critical {
  background-color: #e06c75;
  color: #ffffff;
}

#tray {
  /* background-color: #2d3436; */
  /* background-color: #61afef; */
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #e06c75;
}

#idle_inhibitor,
#privacy {
  padding: 0 0.5em;
}

#idle_inhibitor {
  /* background-color: #2d3436; */
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#custom-notification {
  font-size: 18px;
  padding-left: 0;
}
