package: git
priority: normal
maintainer: Will Norris <will@willnorris.com>
depends: ssl
standards-version: 1
description: Git configuration
 Git configuration.
dirs:
 .git_template
 bin
mkdirs:
 bin

