package: shell
priority: normal
maintainer: Will Norris <will@willnorris.com>
depends:
standards-version: 1
description: Shared bash and zsh configuration
 Shared bash and zsh configuration
dirs:
 .shell
mkdirs:
 .shell
