package: workstation
priority: normal
maintainer: Will Norris <will@willnorris.com>
depends: 
 bash
 git
 gpg
 lynx
 netrc
 screen
 ssh 
 tmux
 tools
 vim
 zsh
standards-version: 1
description: meta-package for workstations
 meta-package for workstations

