package: bash
priority: normal
maintainer: Will Norris <will@willnorris.com>
depends:
 shell
standards-version: 1
description: Basic bash configuration
 Basic bash configuration.
dirs:
 .bash
 .bash/bash_completion.d
 .bash/fromhost
 .bash/host
 .bash/j2
 .bash/network
 .bash/os
 .bash/other
mkdirs:
 .bash
 .bash/other
 .bash/network

