package: vim
priority: normal
maintainer: Will Norris <will@willnorris.com>
depends:
standards-version: 1
description: VIM configuration
 VIM configuration.
dirs:
 .vim
 .vim/after
 .vim/doc
 .vim/ftdetect
 .vim/ftplugin
 .vim/nerdtree_plugin
 .vim/plugin
 .vim/syntax
mkdirs:
 .vim

