package: tools
priority: normal
maintainer: Will Norris <will@willnorris.com>
depends:
standards-version: 1
description: Common tools and utilities
 Common tools and utilities.
dirs:
 local
 local/bin
mkdirs:
 local
 local/bin

